.contenedorPersonajes {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 5rem;
}

.cardPersonajes {
    margin-right: 1.5rem;
    width: 25rem;
    border: 1px solid #ccc;
    border-radius: 5px;

}

h2 {
    color: red;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-top: 4rem;
}

.textoPersonajes {
    margin-top: 2rem;
   
}

.botonInfo {
    margin-top: 1rem;
}